@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Italic.woff2') format('woff2'),
        url('NotoSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Regular.woff2') format('woff2'),
        url('NotoSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-SemiBold.woff2') format('woff2'),
        url('NotoSerif-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-SemiBoldItalic.woff2') format('woff2'),
        url('NotoSerif-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}