@import url("/fonts/rubik/stylesheet.css");
@import url("/fonts/poppins/stylesheet.css");
:root {
  --baseline: 1.3888888889em;
  --gutterMobile: calc(var(--baseline) * .75);
  --gutterTablet: calc(var(--baseline) * 2);
  --gutterDesktop: calc(var(--baseline) * 2);
  --actionsWidth: 22em;
  --contentWidth: calc(100% - var(--actionsWidth) - var(--gutterDesktop));
  --containerMaxWidth: 1240px;
  --button-font-size-large: 1.1em;
  --button-font-weight-large: 600; }
  @media (max-width: 30em) {
    :root {
      --button-font-size-large: 1.2em; } }

:root {
  --baseline: 1.3888888889em;
  --gutterMobile: calc(var(--baseline) * .75);
  --gutterTablet: calc(var(--baseline) * 2);
  --gutterDesktop: calc(var(--baseline) * 2);
  --actionsWidth: 22em;
  --contentWidth: calc(100% - var(--actionsWidth) - var(--gutterDesktop));
  --containerMaxWidth: 1240px;
  --button-font-size-large: 1.1em;
  --button-font-weight-large: 600; }
  @media (max-width: 30em) {
    :root {
      --button-font-size-large: 1.2em; } }

:root {
  --background-color: #fff;
  --background-color-alt: #d5ff01;
  --text-color: #080808;
  --text-color-alt: #080808;
  --default-border-color: var(--text-color);
  --border-color: var(--text-color);
  --header-text-color: #080808;
  --font-family: 'Poppins', sans-serif;
  --font-size-mobile: 14px;
  --font-size-desktop: 16px;
  --baseline: 1.3888888889em;
  --heading-font-family: 'Rubik', sans-serif;
  --heading-font-weight: 800;
  --h1-font-size: 2.1066666667em;
  --h1-letter-spacing: -.47px;
  --h1-line-height: 1.214556962em;
  --h1-text-transform: uppercase;
  --h2-font-size: 1.9066666667em;
  --h2-letter-spacing: -.47px;
  --h2-line-height: 1.341958042em;
  --h2-text-transform: uppercase;
  --h3-font-size: 1.2em;
  --h3-line-height: 1.1em;
  --h4-font-size: 1.0666666667em;
  --h4-line-height: 2.4375em;
  --nav-item-font-size: 0.9em;
  --button-font-size: 0.8888888889em;
  --button-font-family: var(--heading-font-family);
  --button-font-weight: var(--heading-font-weight);
  --button-padding: calc(var(--baseline) * .5) var(--baseline);
  --button-primary-background: var(--text-color);
  --button-primary-border: 1px solid transparent;
  --button-primary-color: #fff;
  --filter-border: 0;
  --filter-padding: 0;
  --filter-field-border-radius: 100vw;
  --filter-field-border-color: var(--border-color);
  --filter-field-border: 1px solid var(--filter-field-border-color);
  --filter-field-padding: .825em 1em;
  --filter-checkbox-border-radius: 8px; }
  @media (min-width: 63.75em) {
    :root {
      --h1-font-size: 3.421875em;
      --h1-line-height: 1.0235659481em;
      --h2-font-size: 2.325625em;
      --h2-line-height: 1.5057780167em;
      --h3-font-size: 1.48625em;
      --h3-line-height: 1.1997476871em; } }

.header {
  position: relative;
  padding: calc(var(--baseline) * 1.5) var(--gutterDesktop); }
  @media (max-width: 45em) {
    .header {
      padding: var(--gutterMobile); } }
  .header__inner {
    background: #fff;
    border-radius: 100vw;
    padding: calc(var(--baseline) * .5) var(--baseline);
    position: relative; }
    @media (min-width: 45em) {
      .header__inner {
        padding: 20px 20px 20px 25px; }
        .header__inner :root {
          --baseline: 1.3888888889em;
          --gutterMobile: calc(var(--baseline) * .75);
          --gutterTablet: calc(var(--baseline) * 2);
          --gutterDesktop: calc(var(--baseline) * 2);
          --actionsWidth: 22em;
          --contentWidth: calc(100% - var(--actionsWidth) - var(--gutterDesktop));
          --containerMaxWidth: 1240px;
          --button-font-size-large: 1.1em;
          --button-font-weight-large: 600; } }
    @media (min-width: 45em) and (max-width: 30em) {
      .header__inner :root {
        --button-font-size-large: 1.2em; } }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__logo .text_logo {
      color: var(--header-text-color) !important; }
    @media (max-width: 45em) {
      .header__logo {
        position: static;
        transform: none; } }
    .header__logo img {
      max-height: 60px; }
      @media (max-width: 63.75em) {
        .header__logo img {
          max-width: 200px; } }
      @media (max-width: 45em) {
        .header__logo img {
          max-width: 140px; } }
  @media (max-width: 45em) {
    .header .header__inner {
      border-radius: 15px;
      row-gap: 6px; } }
  @media (min-width: 45em) {
    .header .header__nav-list {
      max-width: calc(50% - 120px); }
    .header .header__nav-actions {
      max-width: calc(50% - 120px); } }
  .header .header__nav-link {
    color: var(--header-text-color) !important; }
  .header a {
    color: var(--header-text-color) !important; }
  @media (min-width: 30em) {
    .header .basket_widget {
      margin: -6px 0; } }
  .header .basket_widget .basket_widget__item_count {
    background: var(--header-text-color) !important;
    color: #fff !important; }
  .header .basket_widget:after {
    color: var(--header-text-color) !important; }
  body .header .header__nav:has(~ #nav-toggle[aria-expanded="false"]) .header__nav-action-item .button.button--header, body:has(.listing-hero[data-variation="full-bleed-under-header"]) .header .header__nav:has(~ #nav-toggle[aria-expanded="false"]) .header__nav-action-item .button.button--header, body:has(.detail-hero[data-variation="full-bleed-under-header"]) .header .header__nav:has(~ #nav-toggle[aria-expanded="false"]) .header__nav-action-item .button.button--header {
    background: transparent !important;
    border-color: color-mix(in srgb, var(--header-text-color) 15%, transparent) !important;
    color: var(--header-text-color) !important;
    font-size: calc(var(--button-font-size, 1em) * 0.8) !important; }
  body .header .basket_widget, body:has(.listing-hero[data-variation="full-bleed-under-header"]) .header .basket_widget, body:has(.detail-hero[data-variation="full-bleed-under-header"]) .header .basket_widget {
    border-color: color-mix(in srgb, var(--header-text-color) 15%, transparent) !important; }

.event-badge {
  background: var(--background-color-alt);
  color: var(--text-color); }

@media (min-width: 63.75em) {
  .featured-events__title {
    text-align: center; } }

@media (min-width: 1px) {
  .featured-events,
  .main-events-listing {
    padding-block: var(--gutterDesktop); } }

.events-filter__control::placeholder {
  color: var(--text-color);
  opacity: 1; }
.events-filter__label--date .events-filter__label-icon, .events-filter__label--search .events-filter__label-icon {
  width: 1.25em; }
.events-filter__label--categories .events-filter__label-icon {
  width: .75em; }
@media (min-width: 63.75em) {
  .events-filter__label--date, .events-filter__label--search, .events-filter__label--categories {
    flex: 0 1 15em; }
  .events-filter__label--past-events {
    margin-left: var(--baseline);
    margin-right: auto; } }
@media (max-width: 63.75em) {
  .events-filter__label--date {
    width: 60%; }
  .events-filter__label--date, .events-filter__label--display {
    top: calc(100% + (var(--baseline) * 1.75)); } }

.newsletter-signup__image {
  order: 9 !important; }
  @media (min-width: 63.75em) {
    .newsletter-signup__image {
      order: -1 !important; } }
.newsletter-signup__form-label {
  flex: 0 0 auto;
  position: static; }
.newsletter-signup__form-control {
  background: transparent;
  border-color: currentColor;
  border-radius: 0;
  border-width: 0 0 1px;
  color: inherit;
  flex: 0 0 100%;
  margin: 0 0 var(--baseline);
  max-width: 100%;
  padding-inline: 0;
  text-transform: none;
  width: 19em; }
  .newsletter-signup__form-control:hover {
    border-width: 0 0 1px; }
  .newsletter-signup__form-control::placeholder {
    display: none;
    opacity: 0; }

section[data-variation="list"] .event {
  border: 1px solid var(--border-color); }

@media (max-width: 63.75em) {
  .detail-actions {
    margin-inline: calc(var(--gutterMobile) * -1);
    padding: 0 var(--gutterMobile) var(--gutterMobile); } }

.footer:before {
  border-top: none; }

body:has(.listing-hero[data-variation="full-bleed-under-header"]) .header .header__nav-toggle:not([aria-expanded="true"]) .header__nav-toggle-line, body:has(.detail-hero[data-variation="full-bleed-under-header"]) .header .header__nav-toggle:not([aria-expanded="true"]) .header__nav-toggle-line {
  background: #000; }

.hero[data-variation=""] .hero__controls .hero__buttons .hero__button, .hero[data-variation="full-width"] .hero__controls .hero__buttons .hero__button, .hero[data-variation="slideshow"] .hero__controls .hero__buttons .hero__button {
  background: var(--text-color-alt, var(--button-primary-background, black));
  box-shadow: none;
  color: var(--background-color-alt, var(--button-primary-color, white)); }

.main-events-listing:before,
.detail-content:before {
  border-top: 0; }

ul.__design_studio_mode__event_listings li:nth-of-type(1) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-1 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/bright-square-1.jpg"); }
ul.__design_studio_mode__event_listings li:nth-of-type(2) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-2 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/bright-square-2.jpg"); }
ul.__design_studio_mode__event_listings li:nth-of-type(3) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-3 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/bright-square-3.jpg"); }

/*# sourceMappingURL=bright.css.map */
