@import url("/fonts/lexend/stylesheet.css");
:root {
  --baseline: 1.3888888889em;
  --gutterMobile: calc(var(--baseline) * .75);
  --gutterTablet: calc(var(--baseline) * 2);
  --gutterDesktop: calc(var(--baseline) * 2);
  --actionsWidth: 22em;
  --contentWidth: calc(100% - var(--actionsWidth) - var(--gutterDesktop));
  --containerMaxWidth: 1240px;
  --button-font-size-large: 1.1em;
  --button-font-weight-large: 600; }
  @media (max-width: 30em) {
    :root {
      --button-font-size-large: 1.2em; } }

.animate-on-scroll {
  opacity: 0;
  transform: translateY(5vh);
  transition: opacity 0.3s ease, transform 0.5s ease; }
  .animate-on-scroll.animated {
    opacity: 1;
    transform: translateY(0); }

@keyframes tickerTape {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
:root {
  --baseline: 1.3888888889em;
  --gutterMobile: calc(var(--baseline) * .75);
  --gutterTablet: calc(var(--baseline) * 2);
  --gutterDesktop: calc(var(--baseline) * 2);
  --actionsWidth: 22em;
  --contentWidth: calc(100% - var(--actionsWidth) - var(--gutterDesktop));
  --containerMaxWidth: 1240px;
  --button-font-size-large: 1.1em;
  --button-font-weight-large: 600; }
  @media (max-width: 30em) {
    :root {
      --button-font-size-large: 1.2em; } }

:root {
  --background-color: #f6f6f7;
  --background-color-alt: #10121e;
  --text-color: #111323;
  --text-color-alt: #ffffff;
  --highlight-color: #408439;
  --default-border-color: color-mix(in srgb, var(--text-color) 15%, transparent);
  --border-color: color-mix(in srgb, var(--text-color) 15%, transparent);
  --border-radius: 4px;
  --text-color-alt-2: #54555b;
  --font-family: 'Lexend', sans-serif;
  --font-size-mobile: 14px;
  --font-size-desktop: 16px;
  --baseline: 1.25em;
  --heading-font-family: var(--font-family);
  --heading-font-weight: 500;
  --h1-font-size: 1.6em;
  --h1-line-height: 1.1851851852em;
  --h2-font-size: 1.5em;
  --h2-line-height: 1em;
  --h3-font-size: 1.2em;
  --h3-line-height: 1em;
  --h4-font-size: .9333333333em;
  --h4-line-height: 2.6428571429em;
  --button-border: 1px solid transparent;
  --button-border-radius: var(--border-radius);
  --button-box-shadow: none;
  --button-font-size: 0.8888888889em;
  --button-font-weight: 500;
  --button-padding: calc(var(--baseline) * .4) calc(var(--baseline) * 1);
  --button-primary-background: #408439;
  --button-primary-border-color: transparent;
  --button-primary-border: 1px solid var(--button-primary-border-color);
  --button-primary-color: #fff;
  --nav-item-font-family: var(--font-family);
  --nav-item-font-weight: 500;
  --filter-border: 0;
  --filter-padding: 0;
  --filter-inner-box-shadow: 0px 5px 8.3px 1px rgba(0, 0, 0, 0.03);
  --filter-inner-border: 1px solid var(--border-color);
  --filter-inner-border-radius: var(--border-radius);
  --filter-inner-padding: var(--baseline);
  --filter-field-background: transparent;
  --filter-field-border-color: var(--border-color);
  --filter-field-border: 1px solid var(--filter-field-border-color);
  --filter-field-border-radius: var(--border-radius);
  --filter-field-box-shadow: 0px 5px 8.3px 1px rgba(0, 0, 0, 0.03);
  --event-item-border: 1px solid var(--border-color);
  --event-item-border-radius: var(--border-radius);
  --event-item-box-shadow: 0px 5px 8.3px 1px rgba(0, 0, 0, 0.03);
  --event-item-padding: var(--baseline);
  --image-border-radius: var(--border-radius);
  --calendar-background-color: var(--background-color);
  --calendar-text-color: var(--text-color);
  --calendar-inactive-color: #1d2035;
  --calendar-inactive-text-color: var(--text-color); }
  @media (min-width: 63.75em) {
    :root {
      --h1-font-size: 2.75em;
      --h1-line-height: 1.0727272727em;
      --h2-font-size: 2em;
      --h2-line-height: 1.475em;
      --h3-font-size: 1.1111111111em;
      --h3-line-height: 1.25em;
      --h4-font-size: .85em;
      --h4-line-height: 1.4117647059em; } }
  @media (min-width: 63.75em) {
    :root {
      --button-padding: calc(var(--baseline) * .6) calc(var(--baseline) * 1.5); } }

.listing-hero[data-variation=""] .listing-hero__content, .listing-hero[data-variation="slideshow"] .listing-hero__content, .listing-hero[data-variation="full-width"] .listing-hero__content, .listing-hero[data-variation="full-bleed"] .listing-hero__content, .listing-hero[data-variation="full-bleed-under-header"] .listing-hero__content {
  color: var(--text-color);
  height: 100%; }
  .listing-hero[data-variation=""] .listing-hero__content-wrapper, .listing-hero[data-variation="slideshow"] .listing-hero__content-wrapper, .listing-hero[data-variation="full-width"] .listing-hero__content-wrapper, .listing-hero[data-variation="full-bleed"] .listing-hero__content-wrapper, .listing-hero[data-variation="full-bleed-under-header"] .listing-hero__content-wrapper {
    height: 100%;
    justify-content: flex-end;
    padding-bottom: calc(var(--baseline) * 3); }

.featured-events__title,
.main-events-listing__title {
  margin: 1rem 0; }

.event__title {
  line-height: 1.25em;
  margin: .5rem 0 0; }
.event__meta {
  margin: 0 0 .5rem; }

@media (min-width: 63.75em) {
  .event-meta {
    font-size: 0.9em; } }
.event-meta__date, .event-meta__location {
  font-weight: normal; }

.event-badge {
  background: rgba(17, 19, 35, 0.53);
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: none;
  color: var(--text-color); }
  section:not([data-variation="list"]) .event .event-badge {
    right: calc(var(--baseline) * 2);
    top: calc(var(--baseline) * 2); }

@media (min-width: 63.75em) {
  .events-filter {
    margin-bottom: calc(var(--baseline) * -1); } }
.events-filter__label-icon {
  height: .75em;
  width: .75em; }

.detail-hero[data-variation="full-bleed-under-header"] .detail-hero__wrapper {
  color: var(--text-color); }
  @media (max-width: 63.75em) {
    .detail-hero[data-variation="full-bleed-under-header"] .detail-hero__wrapper {
      padding-bottom: calc(var(--baseline) * 3); } }

.newsletter-signup {
  padding-left: var(--gutterMobile);
  padding-right: var(--gutterMobile);
  max-width: var(--containerMaxWidth);
  margin-left: auto;
  margin-right: auto;
  padding-block: 0;
  flex-direction: column;
  flex-wrap: nowrap; }
  @media (min-width: 45em) {
    .newsletter-signup {
      padding-left: var(--gutterTablet); } }
  @media (min-width: 63.75em) {
    .newsletter-signup {
      padding-left: var(--gutterDesktop); } }
  @media (min-width: 45em) {
    .newsletter-signup {
      padding-right: var(--gutterTablet); } }
  @media (min-width: 63.75em) {
    .newsletter-signup {
      padding-right: var(--gutterDesktop); } }
  @media (max-width: 45em) {
    .newsletter-signup {
      text-align: center; } }
  .newsletter-signup__wrapper {
    padding-left: var(--gutterMobile);
    padding-right: var(--gutterMobile);
    max-width: var(--containerMaxWidth);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: var(--background-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
    width: 100%; }
    .newsletter-signup__wrapper .animate-on-scroll {
      opacity: 0;
      transform: translateY(5vh);
      transition: opacity 0.3s ease, transform 0.5s ease; }
      .newsletter-signup__wrapper .animate-on-scroll.animated {
        opacity: 1;
        transform: translateY(0); }
@keyframes tickerTape {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
    @media (min-width: 45em) {
      .newsletter-signup__wrapper {
        padding-left: var(--gutterTablet); } }
    @media (min-width: 63.75em) {
      .newsletter-signup__wrapper {
        padding-left: var(--gutterDesktop); } }
    @media (min-width: 45em) {
      .newsletter-signup__wrapper {
        padding-right: var(--gutterTablet); } }
    @media (min-width: 63.75em) {
      .newsletter-signup__wrapper {
        padding-right: var(--gutterDesktop); } }
  @media (max-width: 63.75em) {
    .newsletter-signup__content, .newsletter-signup__form {
      flex: 0 0 100%; } }
  @media (max-width: 45em) {
    .newsletter-signup__form {
      max-width: none; } }
  .newsletter-signup__form-control, .newsletter-signup__form-control:hover {
    background: var(--text-color);
    color: var(--background-color); }
  .newsletter-signup[data-variation="with-image"] {
    flex-wrap: nowrap; }
    .newsletter-signup[data-variation="with-image"] .newsletter-signup__image {
      aspect-ratio: none;
      flex: 0 0 auto;
      height: 35vw;
      left: 50vw;
      margin-bottom: -1px;
      order: 9;
      position: relative;
      transform: translateX(-50vw);
      width: 100vw; }
    .newsletter-signup[data-variation="with-image"] .newsletter-signup__form {
      padding-top: 0; }
  .newsletter-signup[data-variation="without-image"] {
    padding-bottom: var(--gutterMobile); }
    @media (min-width: 45em) {
      .newsletter-signup[data-variation="without-image"] {
        padding-bottom: var(--gutterTablet); } }
    @media (min-width: 63.75em) {
      .newsletter-signup[data-variation="without-image"] {
        padding-bottom: var(--gutterDesktop); } }

.footer {
  background: var(--background-color);
  color: var(--text-color);
  border: 0; }
  .footer * {
    color: var(--text-color) !important; }
  .footer__nav-item a, .footer__back-to-top, .footer__attribution {
    opacity: 1;
    transition: color .5s ease; }
  .footer__nav-item a:hover, .footer__back-to-top:hover {
    color: var(--text-color); }
  .footer__attribution svg {
    color: var(--text-color); }

.detail-content:before {
  display: none; }

.detail-actions {
  background: none;
  color: var(--text-color); }
  .detail-actions:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    display: block;
    z-index: -1;
    border: 1px solid var(--border-color); }
  .detail-actions .button {
    background: var(--button-primary-background, black);
    border-color: var(--button-primary-border-color, black);
    color: var(--button-primary-color, white); }

.main-events-listing:before,
.detail-content:before {
  border-top: 0; }

ul.__design_studio_mode__event_listings li:nth-of-type(1) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-1 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/simple-square-1.jpg"); }
ul.__design_studio_mode__event_listings li:nth-of-type(2) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-2 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/simple-square-2.jpg"); }
ul.__design_studio_mode__event_listings li:nth-of-type(3) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-3 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/simple-square-3.jpg"); }

/*# sourceMappingURL=simple.css.map */
