@import url("/fonts/inter/stylesheet.css");
@import url("/fonts/dela-gothic-one/stylesheet.css");
:root {
  --baseline: 1.3888888889em;
  --gutterMobile: calc(var(--baseline) * .75);
  --gutterTablet: calc(var(--baseline) * 2);
  --gutterDesktop: calc(var(--baseline) * 2);
  --actionsWidth: 22em;
  --contentWidth: calc(100% - var(--actionsWidth) - var(--gutterDesktop));
  --containerMaxWidth: 1240px;
  --button-font-size-large: 1.1em;
  --button-font-weight-large: 600; }
  @media (max-width: 30em) {
    :root {
      --button-font-size-large: 1.2em; } }

:root {
  --baseline: 1.3888888889em;
  --gutterMobile: calc(var(--baseline) * .75);
  --gutterTablet: calc(var(--baseline) * 2);
  --gutterDesktop: calc(var(--baseline) * 2);
  --actionsWidth: 22em;
  --contentWidth: calc(100% - var(--actionsWidth) - var(--gutterDesktop));
  --containerMaxWidth: 1240px;
  --button-font-size-large: 1.1em;
  --button-font-weight-large: 600; }
  @media (max-width: 30em) {
    :root {
      --button-font-size-large: 1.2em; } }

:root {
  --background-color: #fff7f9;
  --background-color-alt: #21174b;
  --text-color: #21174b;
  --text-color-alt: #ffdae6;
  --highlight-color: #ffdae6;
  --default-border-color: var(--text-color);
  --border-color: var(--text-color);
  --font-family: 'Inter', sans-serif;
  --font-size-mobile: 14px;
  --font-size-desktop: 15px;
  --baseline: 1.3888888889em;
  --heading-font-family: 'Dela Gothic One', sans-serif;
  --heading-font-weight: 900;
  --heading-text-transform: uppercase;
  --h1-font-size: 1.9285714286em;
  --h1-line-height: 0.8888888889em;
  --h2-font-size: 1.9285714286em;
  --h2-line-height: 0.8888888889em;
  --h3-font-size: 1.6428571429em;
  --h3-line-height: 1.3em;
  --h4-font-size: 1em;
  --h4-line-height: 1em;
  --button-font-size: 0.9em;
  --button-border-radius: 10px;
  --button-padding: calc(var(--baseline) * .4) var(--baseline);
  --button-padding-large: calc(var(--baseline) * .8) var(--baseline) calc(var(--baseline) * .85);
  --button-primary-background: var(--text-color);
  --button-primary-color: var(--background-color);
  --button-primary-border: 2px solid var(--text-color);
  --button-secondary-border: 2px solid var(--text-color);
  --nav-item-color: inherit;
  --nav-item-color-alt: var(--text-color);
  --nav-item-font-family: var(--heading-font-family);
  --nav-item-text-transform: uppercase;
  --image-border-radius: 8px;
  --image-box-shadow: 11px 12px 30px 1px rgba(33, 23, 75, 0.25);
  --filter-border-width: 0;
  --filter-padding: 0;
  --filter-field-background: transparent;
  --filter-field-border-color: var(--border-color);
  --filter-field-border: 2px solid var(--filter-field-border-color);
  --filter-field-border-radius: 13px;
  --filter-field-text-color: var(--text-color);
  --calendar-background-color: var(--background-color-alt);
  --calendar-text-color: var(--text-color-alt); }
  @media (min-width: 63.75em) {
    :root {
      --h1-font-size: 3.2222222222em;
      --h1-line-height: 0.9468085106em;
      --h2-font-size: 2.3333333333em;
      --h2-line-height: 0.9833333333em; } }
  @media (min-width: 80.75em) {
    :root {
      --h1-font-size: 4.5em;
      --h1-line-height: 0.9468085106em;
      --h2-font-size: 3.3333333333em;
      --h2-line-height: 0.9833333333em;
      --h3-font-size: 1.6666666667em;
      --h3-line-height: 0.9em;
      --h4-font-size: 1.0555555556em;
      --h4-line-height: 1.0526315789em; } }
  @media (min-width: 63.75em) {
    :root {
      --button-padding: calc(var(--baseline) * .6) var(--baseline); } }

section[data-variation="list"] .event {
  border: 2px solid var(--border-color);
  border-radius: var(--filter-field-border-radius); }

@media (max-width: 63.75em) {
  .event .event__content .event__title {
    font-size: 1.2em;
    margin-bottom: 15px; } }
.event-badge {
  font-family: var(--heading-font-family); }
  section:not([data-variation="list"]) .events-listing .event-badge {
    background: transparent;
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: var(--image-border-radius) var(--image-border-radius) 0 0;
    color: var(--text-color);
    font-size: 1.4444444444em;
    overflow: hidden;
    padding: .5rem 1rem;
    left: 0;
    right: 0;
    top: 0;
    width: 100%; }
    section:not([data-variation="list"]) .events-listing .event-badge::before {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      background: var(--background-color);
      content: '';
      display: block;
      opacity: .32;
      z-index: -1; }
    section:not([data-variation="list"]) .events-listing .event-badge__content {
      animation: tickerTape 5s linear infinite; }
  @media (min-width: 63.75em) and (max-width: 100em) {
    section[data-variation="list"] .event-badge {
      position: absolute;
      right: calc(var(--baseline) * .5);
      top: calc(var(--baseline) * .5); } }

.newsletter-signup {
  flex-direction: column;
  padding: 0 !important; }
  @media (max-width: 63.75em) {
    .newsletter-signup {
      flex-direction: column-reverse; } }
  .newsletter-signup__wrapper {
    padding-left: var(--gutterMobile);
    padding-right: var(--gutterMobile);
    max-width: var(--containerMaxWidth);
    margin-left: auto;
    margin-right: auto;
    display: block;
    gap: 0;
    padding-block: 0 !important;
    text-align: center;
    width: 100%; }
    @media (min-width: 45em) {
      .newsletter-signup__wrapper {
        padding-left: var(--gutterTablet); } }
    @media (min-width: 63.75em) {
      .newsletter-signup__wrapper {
        padding-left: var(--gutterDesktop); } }
    @media (min-width: 45em) {
      .newsletter-signup__wrapper {
        padding-right: var(--gutterTablet); } }
    @media (min-width: 63.75em) {
      .newsletter-signup__wrapper {
        padding-right: var(--gutterDesktop); } }
    @media (max-width: 63.75em) {
      .newsletter-signup__wrapper {
        padding-bottom: var(--baseline) !important; } }
  .newsletter-signup__content {
    padding-top: var(--gutterMobile);
    align-items: center;
    border-top: 2px solid var(--text-color-alt); }
    @media (min-width: 45em) {
      .newsletter-signup__content {
        padding-top: var(--gutterTablet); } }
    @media (min-width: 63.75em) {
      .newsletter-signup__content {
        padding-top: var(--gutterDesktop); } }
  .newsletter-signup[data-variation="with-image"] .newsletter-signup__image {
    aspect-ratio: none;
    flex: 0 0 auto;
    height: 35vw;
    width: 100%; }
  .newsletter-signup[data-variation="with-image"] .newsletter-signup__form {
    padding-top: 0; }
    .newsletter-signup[data-variation="with-image"] .newsletter-signup__form input,
    .newsletter-signup[data-variation="with-image"] .newsletter-signup__form button {
      text-transform: uppercase; }
  .newsletter-signup[data-variation="without-image"] .newsletter-signup__wrapper {
    display: block !important; }
  .newsletter-signup[data-variation="without-image"] .newsletter-signup__form {
    padding-bottom: var(--gutterMobile); }
    @media (min-width: 45em) {
      .newsletter-signup[data-variation="without-image"] .newsletter-signup__form {
        padding-bottom: var(--gutterTablet); } }
    @media (min-width: 63.75em) {
      .newsletter-signup[data-variation="without-image"] .newsletter-signup__form {
        padding-bottom: var(--gutterDesktop); } }

.footer {
  background: var(--background-color);
  color: var(--text-color);
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0; }
  .footer .footer__back-to-top,
  .footer .footer__attribution,
  .footer .footer__nav-item a {
    color: var(--text-color); }
  .footer:before {
    border-top: none; }
  @media (max-width: 45em) {
    .footer .footer__inner {
      align-items: center;
      text-align: center;
      flex-direction: column; }
      .footer .footer__inner .footer__nav-list {
        align-items: center; } }
  @media (min-width: 45em) {
    .footer__attribution {
      text-align: right; }
      .footer__attribution p {
        justify-content: flex-end; }
        .footer__attribution p a {
          display: inline-block; }
    .footer__back-to-top {
      margin-left: auto; } }

.hero__pagination-item {
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
  transition: background .5s ease; }
  .hero__pagination-item[aria-current="true"] {
    background: #fff; }

.listing-hero[data-variation="side-by-side"] .listing-hero__title, .listing-hero[data-variation="side-by-side-reverse"] .listing-hero__title {
  font-size: var(--h2-font-size); }
@media (max-width: 100em) {
  .listing-hero .listing-hero__title {
    font-size: var(--h2-font-size); } }
@media (max-width: 45em) {
  .listing-hero .listing-hero__title {
    font-size: var(--h3-font-size); } }

.detail-hero__title {
  font-size: var(--h2-font-size); }

.detail-content__wrapper {
  text-transform: none; }

.detail-actions__title {
  font-size: var(--h4-font-size); }

.newsletter-signup {
  --button-primary-background: var(--background-color);
  --button-primary-border: 2px solid var(--background-color);
  --button-primary-color: var(--text-color);
  --button-primary-hover-background: transparent;
  --button-primary-hover-border: 2px solid var(--background-color);
  --button-primary-hover-color: var(--background-color); }

.button {
  overflow: hidden; }
  .button__character {
    display: inline-block;
    min-width: .5ch;
    position: relative;
    transition: transform .25s ease; }
    .button__character:nth-child(1) {
      transition-delay: 0.025s; }
    .button__character:nth-child(2) {
      transition-delay: 0.05s; }
    .button__character:nth-child(3) {
      transition-delay: 0.075s; }
    .button__character:nth-child(4) {
      transition-delay: 0.1s; }
    .button__character:nth-child(5) {
      transition-delay: 0.125s; }
    .button__character:nth-child(6) {
      transition-delay: 0.15s; }
    .button__character:nth-child(7) {
      transition-delay: 0.175s; }
    .button__character:nth-child(8) {
      transition-delay: 0.2s; }
    .button__character:nth-child(9) {
      transition-delay: 0.225s; }
    .button__character:nth-child(10) {
      transition-delay: 0.25s; }
    .button__character:nth-child(11) {
      transition-delay: 0.275s; }
    .button__character:nth-child(12) {
      transition-delay: 0.3s; }
    .button__character:nth-child(13) {
      transition-delay: 0.325s; }
    .button__character:nth-child(14) {
      transition-delay: 0.35s; }
    .button__character:nth-child(15) {
      transition-delay: 0.375s; }
    .button__character:nth-child(16) {
      transition-delay: 0.4s; }
    .button__character:nth-child(17) {
      transition-delay: 0.425s; }
    .button__character:nth-child(18) {
      transition-delay: 0.45s; }
    .button__character:nth-child(19) {
      transition-delay: 0.475s; }
    .button__character:nth-child(20) {
      transition-delay: 0.5s; }
  .button__label {
    display: block;
    width: 100%; }
    .button__label:nth-child(2) {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
      .button__label:nth-child(2) .button__character {
        transform: translateY(3em); }

section[data-variation="list"] .events-listing .event__image {
  box-shadow: none; }

body:not(.custom--no_borders) section[data-variation="list"] .event__image {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.event__content h3 {
  margin-bottom: 15px; }

ul.__design_studio_mode__event_listings li:nth-of-type(1) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-1 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/vivid-square-1.jpg"); }
ul.__design_studio_mode__event_listings li:nth-of-type(2) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-2 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/vivid-square-2.jpg"); }
ul.__design_studio_mode__event_listings li:nth-of-type(3) .event__image,
ul.__design_studio_mode__event_listings li .event__image--placeholder-3 {
  background-image: url("https://res.cloudinary.com/ticket-tailor/image/upload/v1744709898/production/userfiles/global/vivid-square-3.jpg"); }

/*# sourceMappingURL=vivid.css.map */
